
#mainsection{
    border:1px solid red;
    display:flex;
}
#mainsection1,#mainsection2{
    border:1px solid black;
}

#mainsection1 img{
    width:100%;
    height:300px;
    object-fit:cover;
    object-position: 0% 0%;
}

