		/* Style the header bar */

		#header_div {
		    width: 90%;
		    margin: auto;
		
		}
		#main_h_div{
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
			display:flex;
			align-items: centre;
		}

		#h_div_img {
		    width: 100px;
		    margin: auto;
		}

		#h_div_img>img {
		    width: 100%;
		}



		/* Style the navigation bar */
		#navbar{
		    display: flex;
		    justify-content: space-between;
			align-items: center;
		    width: 100%;
			margin:auto;
			box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		    position:sticky;
			top:0px;
			z-index:999;
			background-color: white;
			
		}

		nav>div {
		    width: 30%;
		}
		#h_div_img{
			margin:0px 0px -5px 20px;
		}
		.search-container {
			display: flex;
			justify-content: center;
			align-items: center;
		  }
		  
		  .search-box {
			display: flex;
			width: 300px;
		  }
		  
		  input[type="text"] {
			text-align: center;
			padding: 5px;
			width: 100%;
			border: 1 px solid rgb(200, 152, 7);
		  }
		  
		  button[type="submit"] {
			background-color: #4CAF50;
			color: white;
			border: none;
			padding: 7px;
			border-radius: 0 3px 3px 0;
		  }
		  

		#btns_div {
		    display: flex;
		    justify-content: space-evenly;
			/* width:350px; */
		}

		#btns_div>div {
		    /* width: 140px; */
		    margin: auto;
		}
		#btns_div>div:nth-child(3){
			margin-left: -10%;
		}
		#btns_div a{
			color: rgb(70, 70, 70);
		}

		#btns_div>div>span {
		    margin-left: 5px;
		}


		.dropdown {
			position: relative;
		  }
		  
		  .dropbtn {
			background-color: #ffffff;
			color: rgb(12, 12, 12);
			border: 0.5px solid rgb(200, 152, 7);
			border-radius: 2px;
			padding: 5px;
			width:100%;
			font-size: 16px;
			cursor: pointer;
			margin-bottom: 0px;
			vertical-align: middle;
		  }
		  
		  .dropdown-content {
			display: none;
			position: absolute;
			z-index: 999;
			width:100%;
			background-color: rgb(223, 178, 73);
			border:1px solid grey;
		  }
		  
		  .dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		  }
		  
		  .dropdown-submenu {
			position: relative;
		  }
		  
		  .dropdown-submenu-content {
			display: none;
			position: absolute;
			top: 0;
			left: 100%;
			min-width: 100%;
			height:200px;
			padding: 0;			
		  }
		  
		  .dropdown-submenu-content a {
			padding: 10px;
			background-color: white;
			box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
		  }
		  
		  .dropdown:hover .dropdown-content {
			display: block;
		  }
		  
		  .dropdown-submenu:hover .dropdown-submenu-content {
			display: block;
		  }
		  .fa-list{
			margin-left:10px;
		  }
		  #dropdown-menu {
			display: none;
			position: absolute;
			top: 30px;
			right: 0;
			background-color: #fff;
			padding: 10px;
			border: 1px solid #ccc;
			z-index: 1;
		  }
		  
		  #dropdown-menu a {
			display:none;
		  }
		  #menu-btn{
			display:none;
			background-color: white;
			border:none;
			text-align: center;
			padding-left:0px;
			margin-bottom: 2%;
		  }
		  #menu-btn:hover + #dropdown-menu,
		  #dropdown-menu:hover {
			display: block;
		  }
		  
		/*end of navigation bar  */


		/* Slider */

		.swiper {
		    width: 95%;
            margin-top: 50px;
		}

		.swiper-slide {
		    /* text-align: center; */
		    font-size: 18px;
		    background: #fff;
		    display: flex;
		    justify-content: center;
		    align-items: center;
            margin-left: -35px;
		}
        .swiper-slide:nth-child(1){
            margin-left: 0px;
        }

		.swiper-slide img {
		    display: block;
		    width: 55%;
		    object-fit: cover;
            border-radius: 50%;
		}
        /* End of slider */

        /* Fourth Row */

        #fourth_row{
            text-align: center;
            margin-top: 50px;
        }

		/* up_third_row */

		#up_third_row{
			width:100%;
			margin: auto;
			height: 50vh;
			margin-bottom:20px;
		}
		#up_third_row>div{
			height: 55vh;
		}
		
		#up_third_row{
		  display: flex;
		  max-width: 1200px;
		  position: relative;
		  margin-bottom:50px;
		}
		#up_third_row i{
		  top: 50%;
		  height: 44px;
		  width: 44px;
		  color: #343F4F;
		  cursor: pointer;
		  font-size: 1.15rem;
		  position: absolute;
		  text-align: center;
		  line-height: 44px;
		  background: #fff;
		  border-radius: 50%;
		  transform: translateY(-50%);
		  transition: transform 0.1s linear;
		}
		#up_third_row i:active{
		  transform: translateY(-50%) scale(0.9);
		}
		#up_third_row i:hover{
		  background: #f2f2f2;
		}
		#up_third_row i:first-child{
		  left: -22px;
		}
		#up_third_row i:last-child{
		  right: -22px;
		}
		#up_third_row .slider2{
		  font-size: 0px;
		  cursor: pointer;
		  overflow: hidden;
		  white-space: nowrap;
		}
		.slider2.dragging{
			cursor: grab;
			scroll-behavior: auto;
		  }
		  .slider2.dragging img{
			pointer-events: none;
		  }
		  .slider2 img{
			height: 100%;
			object-fit: cover;
			user-select: none;
			margin-left: 14px;
			width: calc(100% / 4.5);
		  }
		  .slider2 img:first-child{
			margin-left: 0px;
		  }
  

		  /* fifth row */

		  #fifth_row{
			text-align:center;
			margin-top: 60px;
		  }

		  /* sixth row */

		  #sixth_row{
			display:flex;
			width:95%;
			margin:auto;
			margin-top: 50px;
			padding-bottom: 20px;
		  }
		  #sixth_row>div{
			width:20%;
			margin:auto;
		  }
		  #sixth_row>div>img{
            width:100%;
			transition: 0.5s all ease-in-out;
		  }
		  #sixth_row>div>img:hover{
			cursor: pointer;
			transform: scale(1.2);
		  }
		  /* seventh-row */
		  #seventh_row{
			margin-left: 10px;
		  }

		  /* last intro */
		  p{
			margin-left: 10px;
			margin-top:-20px;
		  }
		  h4,h3{
			margin-left: 10px;
		  }

		  /* lasr row */

		  #last_row{
			display:flex;
			text-align: center;
			width:98%;
			margin: auto;
			margin-top: 50px;
		  }
		  #last_row>div{
			width:20%;
			margin: auto;
			color:rgb(101, 100, 100);
		  }

		  /* footer */


		  #footer{
			display:flex;
			justify-content: space-between;
			width:95%;
			margin: auto;
			color:rgb(190, 110, 5);
			padding:30px;
		  }
		  #footer>div:nth-child(1){
			display:flex;
			width:50%;
			justify-content: space-between;
		  }
		  #footer>div:nth-child(2)>i{
			margin-left: 10px;
		  }

		  .loader {
			display: flex;
			justify-content: center;
			margin-left:45%;
		  }
		  
		  .bar {
			width: 7px;
			height: 18px;
			margin: 0 9px;
			border-radius: 10px;
			animation: loading_5192 1s ease-in-out infinite;
			background-color: rgb(228, 147, 7);
		  }
		  
		  .bar:nth-child(1) {
			animation-delay: 0.01s;
		  }
		  
		  .bar:nth-child(2) {
			animation-delay: 0.09s;
		  }
		  
		  .bar:nth-child(3) {
			animation-delay: 0.19s;
		  }
		  
		  .bar:nth-child(4) {
			animation-delay: 0.29s;
		  }
		  
		  @keyframes loading_5192 {
			0% {
			  transform: scale(1);
			}
		  
			20% {
			  transform: scale(1, 2.5);
			}
		  
			40% {
			  transform: scale(1);
			}
		  }
		  

   #loader_wrapper{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	display: flex;
	justify-self: center;
	align-items: center;
	background-color: #ffffff;
	z-index: 999999;
   }
   