#mainsection_div{
    width:95%;
    margin:auto;
    border:1px solid red;
    display:flex;
    justify-content: space-between;
}
#mainsection_div>div:nth-child(1){
    width:20%;
    border:1px solid black;
}
#mainsection{
    border:1px solid green;
    width:80%;
}

.form-select{
    width:20%;
    margin-left: 80%;
}

#main{
    border:1px solid red;
    height: 200px;
}